.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* custom css below */

table, th, td {
  margin: auto;
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  max-width: 250px;
  padding: 10px 25px;
}
button {
  margin: auto 10px;
  border-radius: 25%;
}

.tab-div button {
  padding: 5px;
  margin: 25px;
}
.table-footer {
  margin: 25px;
}
.no-results {
  margin-top: 50px;
}
#bookTitle,
#bookAuthor {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}